@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Roboto:wght@400;500&family=Source+Sans+3:wght@400;600;700&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans 3', sans-serif;
}

.yellow-text {
  color: #ffac47;
}

.bannar-opecity {
  background-color: #0a0302cc;
}

.nav-link-bar {
  background-color: rgba(133, 130, 130, 0.199);
  border-radius: 50px;
}

.active{
  color: #ffac47;
}